@using evdeneveturkiye.CompanyParams;

@section Title{
    <title>
        Metropol Express || Metropol Express Evden Eve Taşımacılık
    </title>
    }
<div class="header-slider-one">
    <div class="header-area header-bg" style="background-image:url(assets/img/header-slider/02.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header-inner">

                        <h1 class="title">Metropol Express Hizmetlerinden Yararlanın </h1>
                        <div class="btn-wrapper  desktop-left padding-top-30">
                            <a href="/iletisim" class="boxed-btn blank">İletişime Geç</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-area header-bg" style="background-image:url(assets/img/header-slider/02.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header-inner">

                        <h1 class="title">Kurumsal Bir Nakliyat Hizmeti İster Misiniz? </h1>
                        <div class="btn-wrapper  desktop-left padding-top-30">
                            <a href="/hakkimizda" class="boxed-btn blank">Hakkımızda</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom-area bg-image padding-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="left-content-area">
                    <div class="shipping-area" id="serviceRequestSection">
                        <div class="section-title white">
                            <h4 class="title">Nakliye Hizmeti Alın</h4>
                            <p>Bilgileri doldurarak anında nakliye hizmeti alın</p>
                        </div>
                        <form id="serviceRequestForm" class="shipping-form margin-top-60">
                            <div class="form-group">
                                <input type="text" class="form-control" name="FullName" placeholder="İsim-soyisim">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Phone" placeholder="Telefon" />
                            </div>
                            <button type="button" class="submit-btn" onclick="SendServiceRequest()">Nakliye Hizmeti İste!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12">
                <div class="right-content-area">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-online-service"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Nakliyeye İhtiyacının Olduğu Her anda
                                    </h4>
                                    <p>Bizlete iletişim adreslerimizden ulaşabilir dilediğiniz anda sigortalı ve güvenli nakliye hizmeti alabilirsiniz. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-map-4"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Şehir Ayırt Etmeden
                                    </h4>
                                    <p>Şehirler arası nakliyatta güvelinir ve  pratik nakliyat çözümleri. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-booking"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                       Tam Zamanında
                                    </h4>
                                    <p> Ev veya ofisinizi istediğniiz süre zarfında hızlıca taşıyoruz. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-businessman"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Uzman Kadro
                                    </h4>
                                    <p>Son teknolojiyi kullanarak uzman kadrosuyla müşterilerine profosyonel hizmet sunan bir nakliyat şirketi. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="agency_featured_area bg_color">
    <div class="container">
        <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.3s">Metropol Express Nakliyat Size Ne Tür <br>Hizmetler Sunar</h2>
        <div class="features_info">
            <img class="dot_img" src="~/assets/img/dot.png" alt="Hizmet detayları">
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.4s">
                        <img src="~/assets/img/metropol-express-evden-eve-tasimacilik-firmalari.png" alt="Hizmet detayları">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h3>Evden Eve Taşımacılık Firmaları:</h3>
                        <p><b>Metropol Express Nakliyat</b> Taşımacılık hizmet sunar depolama ekipleriyle birlikte çalışır ve eşyalarınızı güvenli bir şekilde taşır.Ayrıca, uygun fiyatlı taşıma seçenekleri sunarak <b>bütçe dostu</b> çözümler sağlar.</p>
                        <p><b>Metropol Express Nakliyat</b> Eşya paketleme ve ambalajlama hizmeti sunar , evden eve giderken önemli bir adımdır. Bu süreç, eşyaların güvenli bir şekilde taşınması için büyük önem taşımaktadır. </p>
                        <p><b>Metropol Express Nakliyat</b>, depolama ekipleri sayesinde eşyaları paketler ve  kaliteli ambalaj malzemeleri kullanarak koruma sağlarlar. Bu sayede, eşyaların taşınması sırasında hasar görme riski en aza indirilir.</p>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item agency_featured_item_two">
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="~/assets/img/metropol-express-sigortali-tasimacilik.png" alt="Sigortalı tasimaclik">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency_featured_content pl_100 wow fadeInRight" data-wow-delay="0.5s" style="margin-left:30px;">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h3>Sigortalı Taşımacılık:</h3>
                        <p>Taşınma sırasında eşyaların hasar görme veya kaybolması gibi olumsuz durumlarla karşılaşabilirsiniz. Bu nedenle, sigortalı taşımacılık hizmeti sunan firmaları tercih etmek önemlidir.   </p>
                        <p><b>Metropol Express Nakliyat</b> Sigortalı taşımacılık, değerli eşyaların taşınma süreci olası hasarlara karşı korumayı sağlar. Taşıma sırasında meydana gelen herhangi bir hasar durumunda, Metropol Express Nakliyat tarafından verilen sigorta poliçesi sayesinde maddi kayıplarınız tazmin edilir.(Faturanızı istemeyi unutmayın )faturasız bir taşıma gerçekleştiğinde sigorta hasarınızı karşılamaz.</p>
                    </div>
                </div>
            </div>
            <div class="row agency_featured_item flex-row-reverse">
                <div class="col-lg-6">
                    <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.3s">
                        <img src="~/assets/img/metropol-express-sehirler-arasi-tasimacilik.png" alt="Hizmet detayları">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                        <h3>Şehirlerarası Taşımacılık:</h3>
                        <p>Farklı şehirler arasında taşıma maliyetleri olan kişiler için şehirlerarası taşımacılık hizmetleri oldukça önemlidir. </p>
                        <p>İstanbul'dan Ankara'ya, İzmir'den Bursa'ya gibi uzun mesafeli taşımalarda, profesyonel <b>Metropol Express Nakliyat</b> güvenilir bir seçenek sunar. </p>
                        <p>Metropol Express Nakliyat, taşıma işlemlerini planlamak, eşyaları güvenli bir şekilde taşıma ve taşıma sırasında zamanında hizmet sağlama konusunda 50 yıllık deneyime sahiptir.</p>
                        <a href="iletisim" class="btn btn-dark agency_banner_btn mt_30">Sizi Dinliyoruz</a>
                    </div>
                </div>
            </div>
            <div class="dot middle_dot" style="margin-left:30px;"><span class="dot1"></span><span class="dot2"></span></div>
        </div>
    </div>
</section>
<section class="prototype_service_area">
    <div class="container custom_container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s" style="margin-left:150px;">
            <h2 class=" f_size_30 l_height50 f_600 t_color3">Sonuç:</h2>
            <p class="f_400 f_size_16 mb-0">Evden eve taşımacılık hizmeti, taşımayı kolaylaştıran ve stresi azaltan bir çözümdür. <b>Metropol Express Nakliyat</b> profesyonel eşya paketleme ve ambalajlama hizmeti, sigortalı ulaşım seçenekleri ve şehirlerarası ulaşım imkanı gibi avantajları sunarak ulaşmalarını sağlarlar. </p>
            <p class="f_400 f_size_16 mb-0">Taşınma sürecinde zorluk yaşamamak ve eşyalarınızın güvende olmasını sağlamak için evden eve taşımacılık hizmetlerinden yararlanabilirsiniz.</p>
        </div>

    </div>
</section>

<div class="header-bottom-area padding-top-100 padding-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                    <h2 class="title">
                        Evden Eve Taşımacılık: Hızlı, Güvenilir ve Uygun Fiyatlı Nakliyat Hizmetleri
                    </h2>
                    <p>Taşınma süreci, birçok detayı içeren ve stresli bir süreç olabilir. Ancak, evden eve taşımacılık hizmetleri, bu süreci kolaylaştırarak insanlara büyük bir kolaylık sağlamaktadır. Evden eve ulaşımda Metropol Express profesyonel hizmetler sunmaktadır.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="single-header-bottom-item style-01">
                            <div class="content">
                                <h4 class="title">
                                    Evden Eve
                                </h4>
                                <p>Evden eve taşımacılık hizmeti, Metropol Express ’sunduğu bir hizmettir. Bu hizmeti veren Metropol Express , uzman taşıma ekipleriyle birlikte sonunda hızlı ve güvenilir bir nakliye deneyimi sunar. İstanbul, Ankara, İzmir gibi büyük şehirlerdeki nakliye firmaları, geniş bir müşteri kitlesine hitap etmektedir.</p>
                            </div>
                            <div class="icon">
                                <i class="flaticon-delivery-truck"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="single-header-bottom-item style-01">
                            <div class="content">
                                <h4 class="title">
                                    Uygun Fiyat
                                </h4>
                                <p>Metropol Express uygun fiyatlı evden eve taşımacılık hizmeti verir. Metropol Express uygun fiyatlı ve kaliteli hizmet sunan kaliteli nakliye firmasıdır. Metropol Express taşıma öncesi ve sonrası destek sağlayarak taşıma geçişindeki stresi gidermeye yardımcı olur.</p>
                            </div>
                            <div class="icon">
                                <i class="flaticon-information"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="why-us-img bg-image" style="background-image: url(assets/img/why-us/01.png);">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="single-header-bottom-item">
                            <div class="icon">
                                <i class="flaticon-open-box"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                   Paketleme
                                </h4>
                                <p>Evden eve nakliyat yolunda eşya paketleme ve ambalajlama önemli bir adımdır. Metropol Express, depolama ve eğitimli personelleri sayesinde eşyaların eşyalarını güvenli bir şekilde paketler ve ambalajlar. Ayrıca, taşıma sırasındaki eşyaların hasar görmemesi için sigortalı taşıma hizmeti de sunulmaktadır.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="single-header-bottom-item">
                            <div class="icon">
                                <i class="flaticon-tracking-1"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                   Şehirlerarası Taşımacılık
                                </h4>
                                <p>Şehirlerarası taşımacılık ihtiyaçları olanlar için de evden eve nakliyat hizmeti büyük bir kullanım ömrüne sahiptir. İstanbul'dan Ankara'ya, İzmir'den Bursa'ya gibi farklı şehirlere taşınmak isteyenler, güvenilir ve hızlı nakliyat bulunduğu yerden destek alabilirler. Metropol Express taşıma kamyonetleriyle eşyaları almakta ve muhafaza etmekte eşya montaj ve demontaj hizmeti de sunmaktadır. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="our-provide-area padding-bottom-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                    <h2 class="title">
                        Metropol Express Nakliyat Olarak Sunduğumuz Hizmetlerin Sadece Bir Kısmı
                    </h2>
                    <p>Metropol Express Nakliyat, hızlı güvenilir, ve pratik çözümleri sunarak taşımayı kolaylaştırmaktadır.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/01.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class="flaticon-defense"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Eşya Depolama</h4>
                            </a>
                            <p><b>Eşya depolama hizmetleri</b>, değerli eşyalarınızı güvenli ve kontrol altında tutmanızı sağlayan önemli bir çözümdür.</p>
                            <a href="/esya-depolama" class="readmore">Daha Fazla<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/02.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class="flaticon-tracking"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Evden Eve Taşımacılık:</h4>
                            </a>
                            <p><b>Metropol Express Nakliyat</b>, hızlı güvenilir, ve pratik çözümleri sunarak taşımayı kolaylaştırmaktadır. </p>
                            <a href="/evden-eve-tasima" class="readmore">Daha Fazla<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/03.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class=" flaticon-box-4"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Özel Ambalajlama </h4>
                            </a>
                            <p>Nakliye süreci, eşyalarınızı güvenli bir şekilde taşırken ambalajlama ve mobilya kurulumları gibi önemli yürüyüşler içerir. </p>
                            <a href="/ozel-ambalajlama-ve-paketleme" class="readmore">Daha Fazla<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="counterup-area bg-image padding-top-110 padding-bottom-285" style="background-image: url(assets/img/bg/03.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">+10000</span>+</div>
                        <h4 class="title">Başarılı Nakliyat</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">+2000</span>+</div>
                        <h4 class="title">Mutlu Müşteri</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">+12000</span>+</div>
                        <h4 class="title">Taşınan Ürün</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">+200</span>+</div>
                        <h4 class="title">Asansörlü Nakliyat</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="we-offer-area m-top padding-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="we-offer-content">
                    <div class="content">
                        <div class="section-title">
                            <h2 class="title">Metropol Express Evden Eve Taşımacılık</h2>
                            <p>Çeyrek asırı aşan nakliyat hizmetimizi dayandırdığımız en temel olgu kesinlike müşteri memnuniyetini ön planda tutmak, işinde uzman bir ekip ve doğru iş adımlarını uygulamaktır.
                                Nakliyat süreci, birçok insan için zorlu ve stresli olabilir. Neyse ki, günümüzde evden eve taşımacılığı hizmeti sunan Babadan Oğula yarım asırlık tecrübe Metropol Express Nakliyat bulunmaktadır. Metropol Express Nakliyat, hızlı güvenilir, ve pratik çözümleri sunarak taşımayı kolaylaştırmaktadır.

                            </p>
                        </div>
                        <div class="servicee-area">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-check-circle"></i>Pratik Ve Hızlı Çözümler
                                    </a>
                                </li>
                                <li><a href="#"><i class="fas fa-check-circle"></i>Alanında Uzman Bir Kadro.</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-check-circle"></i>Doğru İş Adımları
                                    </a>
                                </li>
                            </ul>
                        </div>
                       <div class="margin-top-10 text-right">
                           <a class="btn btn-dark" href="/hakkimizda" >Hakkımızda Daha Fazlası</a>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="we-offer-img bg-image" style="background-image: url(assets/img/request/01.png);">
                </div>
            </div>
        </div>
    </div>
</section>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none" id="successAlert">
    <div class="alert alert-success" role="alert">
        Tebrikler! Mesajınız alındı.En kısa sürede yanıt verilektir.
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none" id="errorAlert">
    <div class="alert alert-danger" role="alert">
        Hata mesajınız gönderilemedi.Lütfen Sayfayı yenileyip tekrar deneyin!
    </div>
</div>
@section Scripts{

    <script>
        function SendServiceRequest() {
            var model = $('#serviceRequestForm').serializeArray();
            $.ajax({
                url: '/Home/SendServiceRequest',
                data: model,
                dataType: 'json',
                success: function (res) {

                    if (res == true) {
                        var alert = $('#successAlert').html();
                        $(alert).css({ "display": "block" });
                        $('#serviceRequestSection').empty().html(alert);
                    }
                    else {
                        var alert = $('#errorAlert').html();
                        $(alert).css({ "display": "block" });
                        $('#serviceRequestSection').empty().html(alert);
                    }
                }
            });
        }
    </script>
}