@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="header-slider-one">
    <div class="header-area header-bg" style="background-image:url(assets/img/header-slider/02.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header-inner">

                        <h1 class="title">world most Fastest secure delivery service </h1>
                        <div class="btn-wrapper  desktop-left padding-top-30">
                            <a href="#" class="boxed-btn">Learn More</a>
                            <a href="#" class="boxed-btn blank">Contact Us</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-area header-bg" style="background-image:url(assets/img/header-slider/03.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header-inner">

                        <h1 class="title">world most Fastest secure delivery service </h1>
                        <div class="btn-wrapper  desktop-left padding-top-30">
                            <a href="#" class="boxed-btn">Learn More</a>
                            <a href="#" class="boxed-btn blank">Contact Us</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom-area bg-image padding-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="left-content-area">
                    <div class="shipping-area">
                        <div class="section-title white">
                            <h4 class="title">Track your shipping</h4>
                            <p>* Please key the track id to getto get your shipping location</p>
                        </div>
                        <form action="index-3.html" class="shipping-form margin-top-60">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter track id">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter order id">
                            </div>
                            <button type="submit" class="submit-btn">Track Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12">
                <div class="right-content-area">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-online-service"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        24/7 support
                                    </h4>
                                    <p>Treacherously far condescending invidiously menially and constitutionally into capriciously. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-map-4"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Global shipping
                                    </h4>
                                    <p>Treacherously far condescending invidiously menially and constitutionally into capriciously. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-booking"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        On time delivery
                                    </h4>
                                    <p>Treacherously far condescending invidiously menially and constitutionally into capriciously. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="single-header-bottom-item white">
                                <div class="icon">
                                    <i class="flaticon-businessman"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Our Expart Team
                                    </h4>
                                    <p>Treacherously far condescending invidiously menially and constitutionally into capriciously. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="our-provide-area padding-top-80 padding-bottom-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                    <h2 class="title">
                        WE PROVIDE ALL LOGICTIC SERVICES
                    </h2>
                    <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/01.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class="flaticon-air-freight"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Air Fright</h4>
                            </a>
                            <p>Treacherously far so late have immense condescending.</p>
                            <a href="#" class="readmore">Read More<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/02.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class="flaticon-tracking"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">road fright</h4>
                            </a>
                            <p>Treacherously far so late have immense condescending.</p>
                            <a href="#" class="readmore">Read More<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-provide-item margin-bottom-30">
                    <div class="single-what-img">
                        <img src="assets/img/we-provide/03.png" alt="">
                    </div>
                    <div class="content-wrapper">
                        <div class="icon">
                            <i class=" flaticon-box-4"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">warehouse</h4>
                            </a>
                            <p>Treacherously far so late have immense condescending.</p>
                            <a href="#" class="readmore">Read More<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="counterup-area bg-image padding-top-110 padding-bottom-285" style="background-image: url(assets/img/bg/03.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">2,5007</span>+</div>
                        <h4 class="title">Successfully Delivered</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">34,4771</span>+</div>
                        <h4 class="title">Worldwide Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">7,079</span>+</div>
                        <h4 class="title">Store Clients Products</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counterup-01">
                    <div class="content">
                        <div class="count-wrap"><span class="count-num">1043</span>+</div>
                        <h4 class="title">Total Km Reach So Far</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="we-offer-area m-top padding-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="we-offer-content">
                    <div class="content">
                        <div class="section-title">
                            <h2 class="title">we offer best logistic provider for our clients</h2>
                            <p>Treacherously far so late have immense condescending.We provide the best logistic service on the market, all over the globe in case you have an enquiry, or an urgent question, our support is there.</p>
                        </div>
                        <div class="servicee-area">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-check-circle"></i>We provide the best logistic service for globally
                                    </a>
                                </li>
                                <li><a href="#"><i class="fas fa-check-circle"></i>We know how to make it in time and set the right terms for deliveries.</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-check-circle"></i>All payment methods are acceptable for ordering our services.
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="author-details">
                            <div class="author-meta">
                                <h4 class="title">Mark Tyson</h4>
                                <span class="designation">CEO, Logicpress</span>
                            </div>
                            <div class="author-sign">
                                <img src="assets/img/we-offer/sign.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="we-offer-img bg-image" style="background-image: url(assets/img/we-offer/01.png);">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-choose-use-area bg-image padding-bottom-120" style="background-image: url(assets/img/bg/04.png)">
    <div class="container">
        <div class="why-choose-us-wrapper bg-blue padding-top-120 padding-bottom-90">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-11 col-11">
                    <div class="section-title white b-top desktop-center padding-top-25 margin-bottom-55">
                        <h2 class="title">
                            Why choose Additrans
                        </h2>
                        <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-why-us-box margin-bottom-30">
                        <div class="icon">
                            <i class="flaticon-air-freight"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">
                                <a href="">Air Fright</a>
                            </h4>
                            <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-why-us-box margin-bottom-30">
                        <div class="icon">
                            <i class="flaticon-delivery-truck"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">road fright</h4>
                            </a>
                            <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-why-us-box margin-bottom-20">
                        <div class="icon">
                            <i class=" flaticon-box-4"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">warehouse</h4>
                            </a>
                            <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial-area bg-blue bg-image padding-top-110 padding-bottom-120" style="background-image: url(assets/img/bg/05.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-carousel-area margin-top-10">
                    <div class="testimonial-carousel">
                        <div class="single-testimonial-item">
                            <div class="content">
                                <div class="icon">
                                    <i class="flaticon-quote"></i>
                                </div>
                                <h2 class="title">testimonial</h2>
                                <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best for your shipping. </p>
                                <div class="author-details">
                                    <div class="author-meta">
                                        <h4 class="title">
                                            Andre Robin
                                        </h4>
                                        <span class="designation">CTO, art media</span>
                                    </div>
                                </div>
                            </div>
                            <div class="author-img">
                                <div class="thumb">
                                    <img src="assets/img/testimonial/01.png" alt="testimonial">
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <div class="content">
                                <div class="icon">
                                    <i class="flaticon-quote"></i>
                                </div>
                                <h2 class="title">testimonial</h2>
                                <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best for your shipping. </p>
                                <div class="author-details">
                                    <div class="author-meta">
                                        <h4 class="title">
                                            Andre Robin
                                        </h4>
                                        <span class="designation">CTO, art media</span>
                                    </div>
                                </div>
                            </div>
                            <div class="author-img">
                                <div class="thumb">
                                    <img src="assets/img/testimonial/01.png" alt="testimonial">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="creative-team bg-image padding-top-120 padding-bottom-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                    <h2 class="title">
                        our expert team
                    </h2>
                    <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="assets/img/team/01.png" alt="">
                        <div class="social-link style-01">
                            <ul>
                                <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4 class="title">Johnny</h4>
                        <span>Co-Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="assets/img/team/02.png" alt="">
                        <div class="social-link style-01">
                            <ul>
                                <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4 class="title">Jhon</h4>
                        <span>Co-Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="assets/img/team/03.png" alt="">
                        <div class="social-link style-01">
                            <ul>
                                <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4 class="title">Sophia Jones</h4>
                        <span>Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="assets/img/team/04.png" alt="">
                        <div class="social-link style-01">
                            <ul>
                                <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4 class="title">Jackson</h4>
                        <span>Architecture</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="request-area bg-image padding-bottom-120 padding-top-120" style="background-image: url(assets/img/bg/06.png)">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="request-img" style="background-image: url(assets/img/request/01.png);"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="righti-content-area">
                    <div class="request-page-form-wrap">
                        <div class="section-title white">
                            <h4 class="title">Request a free quote</h4>
                        </div>
                        <form action="request.html" class="request-page-form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6">
                                    <select id="f-type">
                                        <option value="volvo">Fright Type</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                    <div class="select-arrow"></div>
                                    <div class="select-arrow"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="city" placeholder="City of Departure" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="weight" placeholder="Total Weight" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="city" placeholder="Deliver City" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="time" placeholder="Time" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Submit Request" class="submit-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-area padding-top-120 padding-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                    <h3 class="title">our Latest news</h3>
                    <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-grid-carosel-wrapper">
                    <div class="blog-grid-carousel">
                        <div class="single-blog-grid-01">
                            <div class="thumb">
                                <img src="assets/img/blog/01.png" alt="blog image">
                            </div>
                            <div class="content">
                                <ul class="post-meta">
                                    <li class="date"><a href="#">DECEMBER 2020</a></li>
                                    <li><a href="#">BY Admin</a></li>
                                </ul>
                                <h4 class="title"><a href="#">Sustainable development is the creed that underpins</a></h4>
                            </div>
                            <div class="blog-bottom">
                                <a href="#" class="msg"><span><i class="flaticon-speech-bubble"></i></span>Comment (04)</a>
                                <a href="#" class="read-btn">Read More<span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                        <div class="single-blog-grid-01">
                            <div class="thumb">
                                <img src="assets/img/blog/02.png" alt="blog image">
                            </div>
                            <div class="content">
                                <ul class="post-meta">
                                    <li class="date"><a href="#">DECEMBER 2020</a></li>
                                    <li><a href="#">BY Admin</a></li>
                                </ul>
                                <h4 class="title"><a href="#">Sustainable development is the creed that downpins</a></h4>
                            </div>
                            <div class="blog-bottom">
                                <a href="#" class="msg"><span><i class="flaticon-speech-bubble"></i></span>Comment (04)</a>
                                <a href="#" class="read-btn">Read More<span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                        <div class="single-blog-grid-01">
                            <div class="thumb">
                                <img src="assets/img/blog/03.png" alt="blog image">
                            </div>
                            <div class="content">
                                <ul class="post-meta">
                                    <li class="date"><a href="#">DECEMBER 2020</a></li>
                                    <li><a href="#">BY Admin</a></li>
                                </ul>
                                <h4 class="title"><a href="#">Vast experience in power evacuation curement</a></h4>
                            </div>
                            <div class="blog-bottom">
                                <a href="#" class="msg"><span><i class="flaticon-speech-bubble"></i></span>Comment (04)</a>
                                <a href="#" class="read-btn">Read More<span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="client-section bg-liteblue padding-bottom-165">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-area">
                    <div class="client-active-area">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/client/01.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/client/02.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/client/03.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/client/04.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/client/01.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="call-to-action-area bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call-to-action-inner bg-image">
                    <div class="icon">
                        <i class="flaticon-24-hours"></i>
                    </div>
                    <div class="content">
                        <h2 class="title">Call us for any inquairy we are open 24/7</h2>
                        <span class="subtitle">786-344-9868</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
